<a href="https://colab.research.google.com/github/marcelounb/ML-Mastery-with-Python-Course/blob/master/chap5_Understand_Your_Data.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
from pandas import read_csv

In [4]:
# View first 20 rows 
filename = "/content/diabetes_moddd.csv"
names = ['preg', 'plas', 'pres', 'skin', 'test', 'mass', 'pedi', 'age', 'class'] 
data = read_csv(filename, names=names) 
peek = data.head(6)
peek

   preg  plas  pres  skin  test  mass   pedi  age  class
0     6   148    72    35     0  33.6  0.627   50      1
1     1    85    66    29     0  26.6  0.351   31      0
2     8   183    64     0     0  23.3  0.672   32      1
3     1    89    66    23    94  28.1  0.167   21      0
4     0   137    40    35   168  43.1  2.288   33      1
5     5   116    74     0     0  25.6  0.201   30      0

In [5]:
data.shape

(768, 9)

In [9]:
data.dtypes

preg       int64
plas       int64
pres       int64
skin       int64
test       int64
mass     float64
pedi     float64
age        int64
class      int64
dtype: object

In [11]:
data.describe()

             preg        plas        pres  ...        pedi         age       class
count  768.000000  768.000000  768.000000  ...  768.000000  768.000000  768.000000
mean     3.845052  120.894531   69.105469  ...    0.471876   33.240885    0.348958
std      3.369578   31.972618   19.355807  ...    0.331329   11.760232    0.476951
min      0.000000    0.000000    0.000000  ...    0.078000   21.000000    0.000000
25%      1.000000   99.000000   62.000000  ...    0.243750   24.000000    0.000000
50%      3.000000  117.000000   72.000000  ...    0.372500   29.000000    0.000000
75%      6.000000  140.250000   80.000000  ...    0.626250   41.000000    1.000000
max     17.000000  199.000000  122.000000  ...    2.420000   81.000000    1.000000

[8 rows x 9 columns]

In [14]:
from pandas import set_option
filename = "/content/diabetes_moddd.csv"
names = ['preg', 'plas', 'pres', 'skin', 'test', 'mass', 'pedi', 'age', 'class'] 
data = read_csv(filename, names=names) 
set_option('display.width', 100) 
set_option('precision', 3) 
description = data.describe() 
description

          preg     plas     pres     skin  ...     mass     pedi      age    class
count  768.000  768.000  768.000  768.000  ...  768.000  768.000  768.000  768.000
mean     3.845  120.895   69.105   20.536  ...   31.993    0.472   33.241    0.349
std      3.370   31.973   19.356   15.952  ...    7.884    0.331   11.760    0.477
min      0.000    0.000    0.000    0.000  ...    0.000    0.078   21.000    0.000
25%      1.000   99.000   62.000    0.000  ...   27.300    0.244   24.000    0.000
50%      3.000  117.000   72.000   23.000  ...   32.000    0.372   29.000    0.000
75%      6.000  140.250   80.000   32.000  ...   36.600    0.626   41.000    1.000
max     17.000  199.000  122.000   99.000  ...   67.100    2.420   81.000    1.000

[8 rows x 9 columns]